@{
    ViewBag.Title = "Home Page";
}

    <h1 style="color:blue; font-family: Verdana; font-size: 100%">Luiscarlos Martinez Zambrano</h1>


        <h2>5 hobbies realizados durante mi tiempo libre (Cuando tenia tiempo libre)</h2>
        <ol type="I">
            <li>Servir en la Iglesia.</li>
            <li>Leer.</li>
            <li>Nadar.</li>
            <li>Jugar videojuegos.</li>
            <li>Ver peliculas.</li>
        </ol>
        <h2>5 peliculas que me gustan</h2>
        <ul style="list-style-type:square">
            <li>La serie del Señor de los Anillos</li>
            <li>La serie de Ip man</li>
            <li>Atrapame si puedes</li>
            <li>Rescatando al Soldado Ryan</li>
            <li>40 primeras citas</li>
        </ul>    
    
 
    <style>
        table, th, td{
             border-style:double;
        }
        th {
             text-align: center;
        }
    </style>
        <table style="width:100%">
            <tr>
                <th>Website</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Espn latinoamerica</td>
                <td> <a href="www.espndeportes.com">www.espndeportes.com </a></td>
            </tr>
            <tr>
                <td>Diario El Nacional de Venezuela</td>
                <td> <a href="www.el-nacional.com">www.el-nacional.com </a></td>
            </tr>
            <tr>
                <td>El chiguire bipolar</td>
                <td> <a href="www.elchiguirebipolar.net">www.elchiguirebipolar.net</a></td>
            </tr>
        </table>

<h2 style="font-family:Rockwell">Goku</h2>
    <img src="~/Images/goku.jpg" style="width:200px;height:200px;" />
